<mat-toolbar class="toolbar mat-elevation-z0">

  <div class="row">

    <div class="col logo" style="margin-top:14px;">
      <svg-icon (click)="openBottomSheet()" src="./../assets/images/logo/logo_round.svg" [svgStyle]="{ 'width.px':60 }"></svg-icon>
    </div>
    <div class="col text" style="margin-top:15px;">
      <h2>Arcadia</h2>
    </div>
    <div class="col empty"></div>
  </div>


</mat-toolbar>

<div style = "margin-top: 5em;">
<router-outlet></router-outlet>

</div>

<app-footer>
  
</app-footer>