<div class="container" style="margin-top:3em">

  <div class="heading row" style="margin-bottom: 1em;">
    <h3>MUN For Dummies </h3>
  </div>


  <div class="row">
    <div class="col-md-6 col-lg-4">
      <mat-card class="mat-elevation-z4">

        <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
          alt="Photo of a Shiba Inu">
        <div>
          <div class="subtitle">
            FROM THE SOCIETY
          </div>
          <div class="main">
            Welcome to the MUN Society!
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4">
      <mat-card class="mat-elevation-z4">

        <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
          alt="Photo of a Shiba Inu">
        <div>
          <div class="subtitle">
            FROM THE SOCIETY
          </div>
          <div class="main">
            Welcome to the MUN Society!
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-4">
      <mat-card class="mat-elevation-z4">

        <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
          alt="Photo of a Shiba Inu">
        <div>
          <div class="subtitle">
            FROM THE SOCIETY
          </div>
          <div class="main">
            Welcome to the MUN Society!
          </div>
        </div>
      </mat-card>
    </div>
  </div>


  <div class="row">
      <div class="col-md-6 col-lg-4">
        <mat-card class="mat-elevation-z4">
  
          <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
            alt="Photo of a Shiba Inu">
          <div>
            <div class="subtitle">
              FROM THE SOCIETY
            </div>
            <div class="main">
              Welcome to the MUN Society!
            </div>
          </div>
        </mat-card>
      </div>
  
      <div class="col-md-6 col-lg-4">
        <mat-card class="mat-elevation-z4">
  
          <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
            alt="Photo of a Shiba Inu">
          <div>
            <div class="subtitle">
              FROM THE SOCIETY
            </div>
            <div class="main">
              Welcome to the MUN Society!
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-card class="mat-elevation-z4">
  
          <img class="top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405"
            alt="Photo of a Shiba Inu">
          <div>
            <div class="subtitle">
              FROM THE SOCIETY
            </div>
            <div class="main">
              Welcome to the MUN Society!
            </div>
          </div>
        </mat-card>
      </div>
    </div>
</div>