<div class="container">

  <div class = "heading row" style ="margin-bottom: 1em;">
    <h3>MUN Society </h3>
  </div>



  <div class="row" >

    <div class="col-md-6 col-lg-4">
      <mat-card class = "mat-elevation-z4">
        
        <img class = "top-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div>
            <div class = "subtitle">
              FROM THE SOCIETY
            </div>
            <div class = "main">
                Welcome to the MUN Society!
              </div>
          </div>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4" >
      <mat-card class = "mat-elevation-z4"></mat-card>
    </div>

    <div class="col-md-6 col-lg-4">
      <mat-card class = "mat-elevation-z4"></mat-card>
    </div>


  </div>
</div>