.mat-card{
    float: left;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 9px;
}
h3{
    margin-top: 10px;
    font-size: 23px;
    font-family: 'SFRegular' Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    float: right;
    margin-left: 0.7em
  }

  a{
    text-decoration: none
  }


.toolkit-card{
  -webkit-transition: all 250ms ease-in;
 -webkit-transform: scale(1); 
 -ms-transition: all 250ms ease-in;
 -ms-transform: scale(1); 
 -moz-transition: all 250ms ease-in;
 -moz-transform: scale(1);
 transition: all 250ms ease-in;
 transform: scale(1);   

}

.toolkit-card:hover{
 -webkit-transition: all 250ms ease-in;
 -webkit-transform: scale(0.95);
 -ms-transition: all 250ms ease-in;
 -ms-transform: scale(0.95);   
 -moz-transition: all 250ms ease-in;
 -moz-transform: scale(0.95);
 transition: all 250ms ease-in;
 transform: scale(0.95);
}

  

  p{
    font-size: 17px;
    font-family: 'SFBold' Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa
  }