<div class="container" >

  <div class = "heading row" style ="margin-bottom: 1em;">
    <h3>MUN Society </h3>
  </div>



  <div class="row" >

    
    <div class="col-md-6 col-lg-4 toolkit-card">
        <a href = "#">
      <mat-card class = "mat-elevation-z4">
        
        <img class = "top-image" mat-card-image src="https://illustrationage.files.wordpress.com/2013/04/tumblr_mkqoatia3b1qg4gido1_1280.jpg?w=700&h=405" alt="Photo of a Shiba Inu">
        <div>
            <div class = "subtitle">
              FROM THE SOCIETY
            </div>
            <div class = "main">
                Welcome to the MUN Society!
              </div>
          </div>
      </mat-card>
    </a>
    </div>
  

    <div class="col-md-6 col-lg-8" >
      <mat-card>      <p>
          Branding is like a battlefield with inadequately-armed soldiers: mediocrity rules. Can you succeed if you only have the basic equipment? No way, Jose. Only when you know who you are can you become whatever you want.
      </p>
      <p>
          Stuurmen strips companies down and exposes the DNA right down to the hair follicles. We turn burning ambition into brand strategy and arm you with digital awesomeness. Kill off the average – mediocrity is way too boring. 🙌🏻🔥
      </p>
    </mat-card>

    </div>

   

  </div>
</div>
<app-landing-mun></app-landing-mun>

