/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html body{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;   
}


@font-face {
    font-family: 'SFBold';
       src: url('./assets/fonts/SFBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SFRegular';
       src: url('./assets/fonts/SFRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'SFThin';
       src: url('./assets/fonts/SFThin.ttf') format('truetype');
}

@font-face {
    font-family: 'SFUltralight';
       src: url('./assets/fonts/SFUltralight.ttf') format('truetype');
}


.top-image{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.toolbar{
    position: fixed;
    transition: top 0.3s;
    z-index: 2;
}