<div class = "container black"></div>
<div class = "container">
<div class= "row justify-content-center" >
  <mat-card style= "margin-top: -35vh;">
      <img  class = "top-image" mat-card-image src="https://www.itsnicethat.com/system/files/112017/5a0995767fa44cb132001a3c/images_slice_large/brandonceli-illustration-itsnicethat-10.jpg?1510577869" alt="Photo of a Shiba Inu">
      <div>
          <div class = "subtitle">
            The fuckn' SSiety Peasants
          </div>
          <div class = "main">
              MUN 6.0 bl bla great
            </div>
        </div>
    </mat-card>
</div>
</div>

<app-landing-toolkit></app-landing-toolkit>